bot:
  channels: >
      matthewde,
      gopherobot
  name: "gopherobot"
  auth: "supasecret"
  prefix: ","

watchtower:
  url: "https://example.com/v1/update"
  token: "supamegasecret"

haste:
  url: "https://example.com/"
