grpc:
  server:
    port: 8080

bot:
  host: "localhost"
  channels: >
      matthewde,
      gopherobot
  name: "gopherobot"
  auth: "supasecret"

receiver:
  host: "localhost"
  port: 9090

dispatcher:
  host: "localhost"
  port: 7070

microsub:
  host: "localhost"
  port: 5050

spring:
  datasource:
    platform: postgres
    url: "jdbc:postgresql://localhost:5432/microtwitch"
    username: test
    password: test
